.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
}
.loader__txt {
  font-size: 32px;
  color: #FF6060;
  font-weight: bold;
}
.loader__anim {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}
.loader__anim--spin {
  border: 5px solid #FF6060;
  border-top: 5px solid transparent;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  animation: spin 1s ease-in infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}