.stars {
    display: flex;
    margin-bottom: 5px;

}

.stars__star {
    width: 15px;
    height: 15px;
}

@media (min-width: 800px) {
    .stars__star {
        width: 30px;
        height: 30px;
    }
}