.houseInfo {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.houseInfo__loc {
  display: flex;
  flex-direction: column;
}
.houseInfo__loc--name {
  color: #FF6060;
  font-size: 18px;
  margin-bottom: 5px;
}
.houseInfo__loc--where {
  color: #FF6060;
  font-size: 14px;
  margin-bottom: 20px;
}
.houseInfo__loc--tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.houseInfo__prez {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.houseInfo__prez--host {
  display: flex;
  align-items: center;
}
.houseInfo__prez--host-name {
  width: 95px;
  text-align: end;
  color: #FF6060;
  margin-right: 10.5px;
}
.houseInfo__prez--host-img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.houseCollapse {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

@media (min-width: 500px) {
  .houseInfo {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .houseInfo__prez {
    margin-top: 0;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .houseInfo__prez--review {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
  }
}
@media (min-width: 800px) {
  .houseInfo__loc--name {
    font-size: 36px;
  }
  .houseInfo__loc--where {
    font-size: 18px;
  }
  .houseInfo__prez--host-name {
    font-size: 18px;
  }
  .houseInfo__prez--host-img {
    width: 64px;
    height: 64px;
  }
  .houseCollapse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .houseCollapse .houseCollapse__div {
    -moz-columns: 1;
         columns: 1;
  }
}