body {
  margin: 0;
  position: relative;
  height: 100vh;
  background: #FFFFFF;
  font-family: 'Montserrat';
  font-weight: 500;
}

main {
  max-width:90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}


