body {
  position: relative;
  height: 1024px;
  background: #FFFFFF;
  font-family: 'Montserrat';
  font-weight: 500;
}

main {
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.sectionBanner {
  min-height: 111px;
  max-height: 223px;
  margin-top: 20px;
}