body {
  margin: 0;
  position: relative;
  background: #FFFFFF;
  font-family: 'Montserrat';
  font-weight: 500;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width:90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


